.menu {
  position: absolute;
  z-index: 1000;
  min-width: 200px;
  padding: 8px 0;
  border-radius: 4px;
  background-color: #fff;
}

.action {
  display: block;
  width: 100%;
  padding: 4px 16px;
  font-size: 16px;
  text-align: initial;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: unset;
}

.action:hover {
  background-color: #ddd;
}
