.toast {
  background-color: #000;
  color: #fff;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  font-size: 15px;
  transform: translateY(100%);
  visibility: hidden;
  transition:
    visibility 0.3s,
    transform 0.3s;
}

.show {
  transform: translateY(0%);
  visibility: visible;
}
