@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons");

* {
  font-family: "Google Sans", sans-serif;
}

.leaflet-container {
  background-color: #000;
  position: absolute;
  inset: 0;
}

.leaflet-tile {
  object-fit: none;
  object-position: top left;
  image-rendering: crisp-edges;
}

.leaflet-grab {
  cursor: default;
}

.leaflet-dragging .leaflet-grab {
  cursor: move;
}

/* -- Context Menu -- */

.context-menu {
  position: absolute;
  z-index: 1000;
  min-width: 200px;
  padding: 8px 0;
  border-radius: 4px;
  background-color: #fff;
}

.context-menu button {
  display: block;
  width: 100%;
  padding: 4px 16px;
  font-size: 16px;
  text-align: initial;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: unset;
}

.context-menu button:hover {
  background-color: #ddd;
}

/* -- Search -- */

.search {
  width: 350px;
  margin: 15px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 23px;
  overflow: hidden;
}

.search .search-form {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.search .search-input {
  border: none;
  outline: none;
  padding: 0;
  flex-grow: 1;
  font-size: 15px;
  height: 24px;
}

.search .search-input::placeholder {
  color: #666;
}

.search .search-icon {
  color: #666;
  margin-right: 5px;
}

.search .search-results {
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.search .search-results li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  list-style-type: none;
  cursor: pointer;
}

.search .search-results li:hover {
  background-color: #ddd;
}

.search .search-results .result-icon {
  margin-right: 5px;
  color: #666;
}

/* -- POI Markers -- */

.poi {
  opacity: 1;
  visibility: visible;
  transition:
    visibility 0.15s,
    opacity 0.15s;
}

.poi.poi-hidden {
  opacity: 0;
  visibility: hidden;
}

.poi img.poi-marker {
  width: 100%;
}

.poi p.poi-label {
  width: max-content;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: 12px;
  line-height: normal;
  margin: 0;
  padding: 2px;
  color: #fff;
  text-shadow:
    -1px -1px #000,
    1px 1px #000,
    -1px 1px #000,
    1px -1px #000,
    0 -1px #000,
    0 1px #000;
}

.poi:hover p.poi-label {
  color: #619cf2 !important;
}

/* Transport Stops */

.poi.poi-type-transport-stop p.poi-label {
  color: #bbb;
}

/* Settlements */

.poi.poi-type-settlement p.poi-label {
  right: 50%;
  transform: translate(50%, -50%);
}

.poi.poi-type-settlement.poi-subtype-city p.poi-label {
  font-size: 20px;
}
