@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons");

* {
  font-family: "Google Sans", sans-serif;
  box-sizing: border-box;
}

.leaflet-container {
  background-color: #000;
  position: absolute;
  inset: 0;
}

.leaflet-tile {
  object-fit: none;
  object-position: top left;
  image-rendering: crisp-edges;
}

.leaflet-grab {
  cursor: default;
}

.leaflet-dragging .leaflet-grab {
  cursor: move;
}

/* -- Context Menu -- */

.context-menu {
  position: absolute;
  z-index: 1000;
  min-width: 200px;
  padding: 8px 0;
  border-radius: 4px;
  background-color: #fff;
}

.context-menu button {
  display: block;
  width: 100%;
  padding: 4px 16px;
  font-size: 16px;
  text-align: initial;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: unset;
}

.context-menu button:hover {
  background-color: #ddd;
}

/* -- Search -- */

.search-container {
  width: 100%;
}

.search {
  max-width: 400px;
  margin: 15px;
  font-size: 15px;
  background-color: #fff;
  border-radius: 23px;
  overflow: hidden;
  pointer-events: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search .search-form {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.search .search-input {
  border: none;
  outline: none;
  padding: 0;
  flex-grow: 1;
  font-size: 15px;
  height: 24px;
}

.search .search-input::placeholder {
  color: #666;
}

.search .search-icon {
  color: #666;
  margin-right: 5px;
}

.search .search-results {
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.search .search-results li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  list-style-type: none;
  cursor: pointer;
}

.search .search-results li:hover {
  background-color: #ddd;
}

.search .search-results .result-icon {
  margin-right: 5px;
  color: #666;
}

/* -- Toast -- */

.toast {
  background-color: #000;
  color: #fff;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  font-size: 15px;
  transform: translateY(100%);
  visibility: hidden;
  transition:
    visibility 0.30s,
    transform 0.30s;
}

.toast.toast-show {
  transform: translateY(0%);
  visibility: visible;
}

/* -- POI Info -- */

.poi-info-container {
  width: 100%;
}

.poi-info-container .sticky-shadow {
  position: absolute;
  width: 100vw;
  max-width: 430px;
  height: 100px;
  pointer-events: none;
  background-image: linear-gradient(#0004, #0000);
}

.poi-info {
  max-width: 430px;
  height: 100%;
  font-size: 15px;
  background-color: #fff;
  pointer-events: auto;
  overflow: auto;
  transform: translateX(-100%);
  visibility: hidden;
  transition:
    visibility 0.30s,
    transform 0.30s;
}

.poi-info.poi-info-show {
  transform: translateX(0%);
  visibility: visible;
}

.poi-info .showcase-container {
  background-color: #598be2;
  width: 100%;
  aspect-ratio: 13/8;
}

.poi-info .info-section {
  padding: 15px 25px;
  border-bottom: 1px solid #ddd;
}

.poi-info .poi-title {
  margin: 0;
  font-size: 25px;
  line-height: 1.2;
  font-weight: normal;
  overflow-wrap: break-word;
}

.poi-info .poi-subtitle {
  color: #666;
  margin: 6px 0 0 0;
  font-size: 14px;
  line-height: 1;
}

.poi-info .transport-section {
  margin: 0 0 15px 0;
  display: grid;
  grid-template-rows: 24px 1fr;
  grid-template-columns: 40px 1fr;
}

.poi-info .transport-section:last-child {
  margin: 0;
}

.poi-info .transport-section .section-icon,
.poi-info .transport-section .section-title {
  margin: 0;
  display: flex;
  align-items: center;
}

.poi-info .transport-section .section-lines {
  margin: 10px 0 0 0;
  padding: 0;
  display: grid;
  gap: 4px;
  grid-column: 2;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
}

.poi-info .transport-section .section-lines li {
  text-align: center;
  padding: 2px;
  border-radius: 4px;
}

/* -- POI Markers -- */

.poi {
  opacity: 1;
  visibility: visible;
  transition:
    visibility 0.15s,
    opacity 0.15s;
}

.poi.poi-hidden {
  opacity: 0;
  visibility: hidden;
}

.poi > div {
  width: 100%;
  height: 100%;
}

.poi img.poi-marker {
  display: block;
  height: 100%;
  margin: auto;
}

.poi p.poi-label {
  width: max-content;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: 12px;
  line-height: normal;
  margin: 0;
  padding: 2px;
  color: #fff;
  text-shadow:
    -1px -1px #000,
    1px 1px #000,
    -1px 1px #000,
    1px -1px #000,
    0 -1px #000,
    0 1px #000;
  display: none;
}

.poi.poi-show-label p.poi-label {
  display: block;
}

.poi:hover p.poi-label {
  color: #619cf2 !important;
}

/* Transport Stops */

.poi.poi-type-transport-stop p.poi-label {
  color: #bbb;
}

/* Settlements */

.poi.poi-type-settlement p.poi-label {
  right: 50%;
  transform: translate(50%, -50%);
}

.poi.poi-type-settlement.poi-subtype-city p.poi-label {
  font-size: 16px;
}

.poi.poi-type-settlement.poi-subtype-town p.poi-label {
  font-size: 14px;
}

.poi.poi-type-settlement.poi-subtype-village p.poi-label {
  font-size: 12px;
}
